.Code pre {
    width: 80%;

    /* background: #8b5fbf;  */
    background: #b891e5;
    background: radial-gradient(circle, #b891e5 0%, #8b5fbf 100%);
    border-radius: 5px;
    border: none;

    margin: auto auto 20px auto;
    padding: 10px;
    display: block;
    white-space: pre-wrap;

    line-height: 28px;

    text-align: left;

    font-size: 18px;
    color: #fff;
    outline: none;

    resize: none;
}