.Code pre {
    width: 80%;

    /* background: #8b5fbf;  */
    background: #ececec;
    background: radial-gradient(circle, #c0c0c0, 0%, #f1f1f1 100%);
    border-radius: 5px;
    border: none;

    box-shadow: 1px 3px 3px #80808062;

    margin: auto auto 20px auto;
    padding: 10px;
    display: block;
    white-space: pre-wrap;

    line-height: 28px;

    text-align: left;

    font-size: 18px;
    color: #000;
    outline: none;

    resize: none;
}