.Home {
    min-height: 100px;
    padding-top: 60px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50vw; 
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.paragraph {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;

    display: block;
    text-align: center;

    font-size: 19px;
}

.hex {
    position: absolute;
    z-index: -1;

    fill: blue;
}

.Code {
    min-width: 20vw;
}