.Terminal {
    background: #1e1e1e; 
    width: 40vw;
    height: 20vw;

    padding: 15px 15px 45px 15px;
    border-radius: 10px;

    position: relative;

    box-shadow: 3px 19px 7px #00000062;

    margin: auto auto 60px auto;
}

.Terminal pre {
    width: 100%;
    height: 100%;

    text-align: left;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    line-height: 25px;

    overflow: hidden;

    margin: 0;

    font-size: 18px;
}

.Terminal input {
    width: 100%;
    height: 20px;

    border: none;
    outline: none;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;

    margin: 10px 0 0 -15px;

    font-size: 17px;
    padding: 15px;

    color: #ffffff;
    background: #1e1e1e
}

.titleBar {
    width: 100%;
    background: #dddddd;
    background: linear-gradient(#e3e3e3, #cfcfcf);

    padding: 5px 0 5px 0;
    top: 0;
    left: 0;

    color: #000000;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 16px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    position: absolute;
    z-index: 1; 
}

.controls {
    width: fit-content;

    display: flex;
    justify-content: left;

    position: absolute;

    margin: 2px 0 0 10px;
}

.circle{
    width: 15px;
    height: 15px;

    margin: 0 4px 0 0;
}